/*navbar*/
*{
	box-sizing: border-box;
}
nav {
    opacity: 0.9;  
  }
nav:hover{
	opacity: 1;
	transition: 0.5s; 
}
.brand-logo{
	font-family: 'Tahoma';
}
nav ul a{
	 color: rgb(64, 64, 64) important!;    /*how?*/
	 text-transform: uppercase;	 
}
nav ul a:hover{
	border-bottom: 1px solid rgba(245, 241, 240,0.7);
	transition: 0.5s; 
}

.imagess {
	max-height: 300px;
	width: 50%;

}
/*navbar log positioning*/
.brand-logo {
    margin-left: 50px;
    font-family: Adamina;
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


/*footer*/
.page-footer a{
	padding: 10px !important;
}
.page-footer a:hover{
	color: rgba(236, 217, 198,0.5) !important;
	transition: 0.5s;
}

/*button*/
.btn {
	margin: 10px !important;
	color: rgba(245, 241, 240,0.7) !important;
}
.text {
	margin: 50px;
}
.title1{
	font-family: 'Adamina' !important;
	font-style: italic !important;
	color: #ecd9c6 !important;
}
.title0{
	font-family: Adamina !important;
	color: #fff2e6 !important;
}
.title2{
	font-family: Adamina !important;	
	color: #4d2600 !important;
}
.title4{
	font-family: Adamina !important;
	font-style: italic !important;
	color: #734d26 !important;
}


/*main page - manooo*/
.cont1{
	width: 80%;
	text-align: center;
	margin: 25px auto;
	position: relative;
}
.jurosText{
	z-index: 200;
	position: relative;
	text-align: center;
	padding: 30px;
	width: 50%;
  	margin: 0 auto;
  	margin-top: 80px;
  	color: rgba(245, 241, 240,0.7); 	
  	background-color: rgba(141, 110, 99,0.1);
}
.jurosText:hover{
	transition: 0.5s;
  	color: rgba(245, 241, 240,0.9); 	
}
.jurosContainer{
	max-width: 100%;
	height: 600px;
}
.jurosContainer img{
	height: 900px;
	filter: brightness(70%);
}

/*carousel*/

.juraCarousel{
	height: 650px !important;
	z-index: 300 !important;
}

.food {
	position: relative;
	width: 80%;
	margin: 0 auto;
	color: #f2f2f2;
	padding: 40px;
}
.food1{
	display: inline-block;
	width: 30%;
	margin: 10px;
}
.food1 img {
	position: relative;
	width: 70%;
}

/*container*/
.col {

	position: relative;	
	padding: 20px 0;
}
.col:hover {
	transition: 0.5s;
}
.col p {
	margin: 30px 60px;
}
.ft {
	width: 80%;
	height: auto;
	margin: 0 30px;
	margin: 0 auto;
}
.ft img{
	min-width: 100%;
}
.price{
	text-align: center;
}
/*meals*/
.meals1{
	margin: 20px 30px;
}
.meal2 {
	padding: 15px 0;
	border-bottom: solid 1px rgba(115, 77, 38,0.5) !important;
	text-align: left !important;
}
.cont1 .row p{
	padding: 15px;
}

/* kaip aprasinesit titles. buttons ar kitus elemenus bendrai naujomus visuose page'uose, naudosim bendras klases*/
/*atskiriems - nepasikartojantiem elementams rasysim viska atskirai*/

/* index1

Artur Vilkicki

*/

.parallax-container2 .parallax2 img{
	/*width: 100%;*/
	/*height: 300px;*/
}
.parallax-text{
	z-index: 200;
	position: relative;
	text-align: center;
	padding: 30px;
	width: 50%;
  	margin: 0 auto;
  	margin-top: 5px;
  	color: lime;
  }

.mapouter{
	overflow:hidden;
	height:500px;
	width:600px;
}
.gmap_canvas {
	background:none!important;
	height:500px;
	width:600px;
}
.info{
	background-color: transparent;
	width: 600px;
	
}
.picture{
	display:inline;
	width: 670px;
	height:500px;

}
body{
	background-color: : grey;
}
.pagebg {
	background-image: url("imagesArt/patrick-schopflin-38860.jpg");
	background-size: cover;
	background-attachment: fixed;

}

/* nuo cia karolio ---------------------------------------------------------------- */

.btn2 {
	
	width: 200px !important;

}
.karolioContainer{
	max-width: 50%;
	height: 900px;
}
.karolioContainer2{
	max-width: 100%;
	height: 1000px;
	opacity: 0.2;
}

.karolioText{
	z-index: 200;
	position: relative;
	text-align: right;
	padding: 5px;
	width: 70%;
  	margin: 0 auto;
  	margin-top: 20px;
  	color: rgba(245, 241, 240,0.7); 
  	}
.karolioText2{
z-index: 200;
position: relative;
text-align: center;
padding: 50px;
width: 70%;
margin: 0 auto;
margin-top: 20px;
color: rgba(245, 241, 240,0.7);
}
.Textleft{
	text-align: left !important;
}
.Textright{
	text-align: right !important;
}

.colorBrown {
    color: #3e2723  !important; 
}
.colorWhite {
    color: #f5f5f5  !important; 
}
.colorDark {
    color: #212121  !important; 
}

.p {
	background: #c0bd4f;
	color: #f5f5f5 ;
}

.imgedit{
	height:auto;
}
.col1 {
    float:left; 
    width:100px;
    margin-left: 325px; 
    margin-top: -50px;
}
.col1over{
	margin-top: 50px !important;
}
.par1{
	width: 700px;
	font-size: 24px;
	margin-left: -300px;
	text-align: justify;
}

.col2 {
    float:left; 
    width:200px; 
    margin-left: 625px;
    margin-top: -50px;
}
.par2{
	width: 700px;
	font-size: 24px;
	margin-left: -300px;
	text-align: justify;
}
.aleshead{
	width: 200px;
	text-align: center;
	margin-top: 100px;
	margin-left: 675px;
}
.alestext{
	width: 700px;
	text-align: center;
	margin-top: 20px;
	margin-left: 450px;
}
.alestext2{
	width: 2000px;
	text-align: justify;
	margin-top: 50px;
	margin-left: 100px;

}
.alestext3{
	width: 2000px;
	text-align: justify;
	margin-top: 50px;
	margin-left: 550px;

}
.par3{
	width: 1000px;
	font-size: 24px;
	margin-left: -50px;
	margin-top: -20px;
	text-align: justify;
}
.myImg1{
	height:250px;
	max-width: 4%;
    margin-left: 1100px;
    margin-top: -400px;
    vertical-align: middle;
}
.myImg101{
 	margin-left: 1000px;
    margin-top: -450px;
}
.myImg102{
 	margin-left: 1200px;
    margin-top: -490px;
}
.myImg103{
	height: 300px;
 	margin-left: 1300px;
    margin-top: -580px;
}

.myImg1over{
	max-width: 5% !important;
	margin-top: -425px;
}
.myImg1over0{
	max-width: 4% !important;
	margin-top: -430px;
}
.myImg1over1{
	max-width: 4% !important;
	margin-top: -475px;
	margin-left: 1000px;
}
.myImg1over11{
	max-width: 4% !important;
	margin-top: -520px;
	margin-left: 1200px;

}
.myImg1over111{
	max-width: 4% !important;
	margin-top: -475px;
	margin-left: 1000px;

}
.nervasima{
	max-width: 100%;
	height: 900px;
}
.nervasima2{
	max-width: 100%;
	height: 1000px;
}


.myImg2{
	height:250px;
	max-width: 4%;
    margin-left: -180px;
    margin-top: -400px;
    vertical-align: middle;
}
.myImg3{
	height:250px;
	max-width: 4%;
    margin-left: -180px;
    margin-top: -600px;
    vertical-align: middle;
}
.germanlager{
	height:300px !important;
	margin-top: -450px;
}
.palez{
	height:300px !important;
	margin-top: -450px;
	margin-left: -175px;
}
.par4{
	width: 1000px;
	font-size: 24px;
	margin-left: -50px;
	margin-top: -75px;
	text-align: justify;
}
.parallaxBeer{
    background-image: url('images2/elbironi.jpg');
    max-height: 100%; 
    max-width: 100%;
    opacity:0.2;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
 /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
} 



