.parallax-container .parallax img{
	max-width: 100%;
	height: 50px;
}
.parallax-container {
      height: 200px;
    }
.parallax-text{
	z-index: 200;
	position: relative;
	text-align: center;
	padding: 30px;
	width: 50%;
  	margin: 0 auto;
  	margin-top: 18px;
  	color: lime;
  }
.carousel{
	align-items: top;
	align-items: left;
}
